<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/error404.css" rel="stylesheet">
    <link href="../main.css" rel="stylesheet">
    <title>error 404</title>
</head>
<body>
    <section class="seccion-pagina-404">
        <div class="numero-error">
            <div class="contenedor-msj">
                <i class="fas fa-exclamation-triangle"></i>
                <h3>404</h3>
            </div>
        </div>
        <div class="contenido-error">
            <div class="seccion-contenedor">
                <h1>Página no encontrada</h1>
                <p>La Pagina que estas solicitando no está disponible</p>
            </div>
            <div class="seccion-contenedor">
                <p>Pero puedes regresar al inicio desde Aquí</p>
                <div class="botones-escape">
                    <a class="boton-escape" href="">Regresar</a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>