.botonlogin {
  margin-right: 40px;
  margin-left: 30px;
  margin: 20px;
}

.table td,
.table th {
  padding: 12px;
}

.table tbody tr {
  margin-bottom: 20px;
}

.botonmedico {
  background-color: var(--color-secundarioTres);
  padding: 10px;
  color: white;
  border-radius: 20px;
  border: none;
}

.botonmedico:hover {
  background-color: var(--fuente-color-secundario);
}

.tablarelleno {
  background-color: var(--color-secundarioDos) !important;
}