.botonmedico{
    background-color: var(--color-secundarioTres);
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: none;
  }
  
  .botonmedico:hover {
  background-color: var(	--fuente-color-secundario);
  }

  .botonagregar {
    background-color: var(--color-secundarioTres);
    border: none;
    padding: 20px;
    color: white;
    border-radius: 20px;
  }

  .botonagregar:hover {
    background-color: var(--color-secundarioDos);
    transform: scale(1.1);
  }



  .tablarelleno {
    background-color: var(--color-secundarioDos) !important;
  }